*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gb-container{
  width: 70%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}


.gb-star{
  color: white;
  font-size: 1.5rem;
}

.gb-line-star{
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}