/* 
  HEADER 
*/
header{
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}






/* 
  JUMBOTRON 
*/
.jumbotron{
  height: 450px;
  margin-top: 80px;
}

.container-jumbo{
  width: 500px;
  margin: 0 auto;
}

/* Senza usare bootstrap  */
/* .content-jumbo{
  width: 500px;
  height: 300px;
} */






/* 
  MAIN 
*/
/* Portfolio */
.gb-card{
  height: 250px;
}
/* /Portfolio  */


/* About  */
/* /About  */


/* Contact me  */
/* /Contact me  */







/* 
  FOOTER 
*/
/* Footer top  */
/* /Footer top  */


/* Footer bottom  */
/* /Footer bottom  */