/* 
  HEADER 
*/
header{
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.container-header{
  width: 70%;
  margin: 0 auto;
}






/* 
  JUMBOTRON 
*/
.jumbotron{
  height: 450px;
  /* justify-content: center; */
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.container-jumbo{
  width: 500px;
  margin: 0 auto;
}

/* Senza usare bootstrap  */
/* .content-jumbo{
  width: 500px;
  height: 300px;
} */






/* 
  MAIN 
*/
section h2{
  text-align: center;
}

/* Portfolio */
#portfolio{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* /Portfolio  */


/* About  */
#about{
  margin-bottom: 20px;
}

#about .content{
  width: 60%;
  margin: 0 auto;
}
/* /About  */


/* Contact me  */
#contact-me{
  margin-bottom: 20px;
}

#contact-me .content{
  /* justify-content: center; */
  align-items: center;
}

.container-contact-me{
  width: 600px;
  margin: 0 auto;
}

/* Senza usare bootstrap  */
/* .content-contact-me{
  width: 500px;
  height: 300px;
} */
/* /Contact me  */







/* 
  FOOTER 
*/
/* Footer top  */
.footer-top{
  width: 65%;
  margin: 0 auto;
}
/* /Footer top  */


/* Footer bottom  */
.footer-bottom{
  justify-content: center;
  align-items: center;
}
/* /Footer bottom  */